In [1]:
import os
import csv
import pandas as pd
import datetime as dt

In [5]:
bit_dg = "coin_Bitcoin.csv"

In [6]:
bit_df = pd.read_csv(bit_dg)
bit_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [9]:
len(bit_df)

2991

In [7]:
file_Dog = "coin_Dogecoin.csv"

In [8]:
doge_df = pd.read_csv(file_Dog)
doge_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.0,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.0,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.0,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.0,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.0,7.284337e+06

In [10]:
len(doge_df)

2760

In [12]:
bitcoin15to18_df = bit_df[(bit_df['Date'] >"2015-01-01") & (bit_df['Date'] <="2018-12-31")]
bitcoin15to18_df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
612,613,Bitcoin,BTC,2015-01-01 23:59:59,320.434998,314.002991,320.434998,314.248993,8.036550e+06,4.297536e+09
613,614,Bitcoin,BTC,2015-01-02 23:59:59,315.838989,313.565002,314.079010,315.032013,7.860650e+06,4.309551e+09
614,615,Bitcoin,BTC,2015-01-03 23:59:59,315.149994,281.082001,314.846008,281.082001,3.305440e+07,3.846270e+09
615,616,Bitcoin,BTC,2015-01-04 23:59:59,287.230011,257.612000,281.145996,264.195007,5.562910e+07,3.616321e+09
616,617,Bitcoin,BTC,2015-01-05 23:59:59,278.341003,265.084015,265.084015,274.473999,4.396280e+07,3.758098e+09
...,...,...,...,...,...,...,...,...,...,...
2067,2068,Bitcoin,BTC,2018-12-26 23:59:59,3893.359731,3769.863816,3819.666691,3857.297520,5.326548e+09,6.729282e+10
2068,2069,Bitcoin,BTC,2018-12-27 23:59:59,3874.416880,3645.448438,3854.688573,3654.833539,5.130222e+09,6.376876e+10
2069,2070,Bitcoin,BTC,2018-12-28 23:59:59,3956.136094,3642.632103,3653.131929,3923.918594,5.631554e+09,6.847184e+10
2070,2071,Bitcoin,BTC,2018-12-29 23:59:59,3963.758808,3820.408682,3932.491809,3820.408682,4.991656e+09,6.667224e+10
2071,2072,Bitcoin,BTC,2018-12-30 23:59:59,3901.909016,3797.219122,3822.384835,3865.952577,4.770579e+09,6.747551e+10

In [13]:
dogecoin15to18_df = doge_df[(doge_df['Date'] > "2015-01-01") & (doge_df['Date'] <= "2018-12-31")]
dogecoin15to18_df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
381,382,Dogecoin,DOGE,2015-01-01 23:59:59,0.000186,0.000182,0.000186,0.000183,3.069130e+05,1.777846e+07
382,383,Dogecoin,DOGE,2015-01-02 23:59:59,0.000187,0.000182,0.000183,0.000186,3.560170e+05,1.807569e+07
383,384,Dogecoin,DOGE,2015-01-03 23:59:59,0.000186,0.000167,0.000184,0.000167,2.855740e+05,1.628731e+07
384,385,Dogecoin,DOGE,2015-01-04 23:59:59,0.000169,0.000155,0.000168,0.000158,3.791500e+05,1.540509e+07
385,386,Dogecoin,DOGE,2015-01-05 23:59:59,0.000166,0.000157,0.000159,0.000161,5.745520e+05,1.570469e+07
...,...,...,...,...,...,...,...,...,...,...
1836,1837,Dogecoin,DOGE,2018-12-26 23:59:59,0.002496,0.002394,0.002402,0.002474,1.747762e+07,2.908681e+08
1837,1838,Dogecoin,DOGE,2018-12-27 23:59:59,0.002486,0.002364,0.002477,0.002364,1.922493e+07,2.779474e+08
1838,1839,Dogecoin,DOGE,2018-12-28 23:59:59,0.002447,0.002304,0.002362,0.002434,1.943989e+07,2.862403e+08
1839,1840,Dogecoin,DOGE,2018-12-29 23:59:59,0.002446,0.002388,0.002439,0.002403,1.698501e+07,2.826581e+08
1840,1841,Dogecoin,DOGE,2018-12-30 23:59:59,0.002402,0.002341,0.002380,0.002367,1.684602e+07,2.784703e+08

In [14]:
bit2015_df = bit_df[(bit_df['Date'] >"2015-01-01") & (bit_df['Date'] <="2015-12-31")]
bit2015_df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
612,613,Bitcoin,BTC,2015-01-01 23:59:59,320.434998,314.002991,320.434998,314.248993,8036550.0,4.297536e+09
613,614,Bitcoin,BTC,2015-01-02 23:59:59,315.838989,313.565002,314.079010,315.032013,7860650.0,4.309551e+09
614,615,Bitcoin,BTC,2015-01-03 23:59:59,315.149994,281.082001,314.846008,281.082001,33054400.0,3.846270e+09
615,616,Bitcoin,BTC,2015-01-04 23:59:59,287.230011,257.612000,281.145996,264.195007,55629100.0,3.616321e+09
616,617,Bitcoin,BTC,2015-01-05 23:59:59,278.341003,265.084015,265.084015,274.473999,43962800.0,3.758098e+09
...,...,...,...,...,...,...,...,...,...,...
971,972,Bitcoin,BTC,2015-12-26 23:59:59,457.489014,405.760010,455.756012,417.273987,116166000.0,6.262845e+09
972,973,Bitcoin,BTC,2015-12-27 23:59:59,424.006989,408.882996,416.514008,422.822998,53591200.0,6.348296e+09
973,974,Bitcoin,BTC,2015-12-28 23:59:59,429.769012,418.480988,423.342987,422.278992,49638600.0,6.341733e+09
974,975,Bitcoin,BTC,2015-12-29 23:59:59,432.983002,420.627014,422.097992,432.983002,51596500.0,6.504195e+09
975,976,Bitcoin,BTC,2015-12-30 23:59:59,434.386993,422.084015,433.299988,426.619995,46889400.0,6.410381e+09

In [15]:
doge2015_df = doge_df[(doge_df['Date'] > "2015-01-01") & (doge_df['Date'] <= "2015-12-31")]
doge2015_df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
381,382,Dogecoin,DOGE,2015-01-01 23:59:59,0.000186,0.000182,0.000186,0.000183,306913.0,1.777846e+07
382,383,Dogecoin,DOGE,2015-01-02 23:59:59,0.000187,0.000182,0.000183,0.000186,356017.0,1.807569e+07
383,384,Dogecoin,DOGE,2015-01-03 23:59:59,0.000186,0.000167,0.000184,0.000167,285574.0,1.628731e+07
384,385,Dogecoin,DOGE,2015-01-04 23:59:59,0.000169,0.000155,0.000168,0.000158,379150.0,1.540509e+07
385,386,Dogecoin,DOGE,2015-01-05 23:59:59,0.000166,0.000157,0.000159,0.000161,574552.0,1.570469e+07
...,...,...,...,...,...,...,...,...,...,...
740,741,Dogecoin,DOGE,2015-12-26 23:59:59,0.000150,0.000136,0.000149,0.000139,230344.0,1.422829e+07
741,742,Dogecoin,DOGE,2015-12-27 23:59:59,0.000145,0.000138,0.000139,0.000145,145042.0,1.483769e+07
742,743,Dogecoin,DOGE,2015-12-28 23:59:59,0.000147,0.000137,0.000144,0.000139,139835.0,1.420676e+07
743,744,Dogecoin,DOGE,2015-12-29 23:59:59,0.000155,0.000138,0.000139,0.000155,104967.0,1.592382e+07
744,745,Dogecoin,DOGE,2015-12-30 23:59:59,0.000157,0.000149,0.000156,0.000153,124837.0,1.563044e+07