In [1]:
import os
import csv
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
bit_dg = "coin_Bitcoin.csv"

In [3]:
bit_df = pd.read_csv(bit_dg)
bit_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [4]:
len(bit_df)

2991

In [5]:
file_Dog = "coin_Dogecoin.csv"

In [6]:
doge_df = pd.read_csv(file_Dog)
doge_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.0,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.0,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.0,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.0,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.0,7.284337e+06

In [7]:
len(doge_df)

2760

In [8]:
bitcoin19to20_df = bit_df[(bit_df['Date'] >"2019-01-01") & (bit_df['Date'] <="2020-12-31")]
bitcoin19to20_df.head(10)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2073,2074,Bitcoin,BTC,2019-01-01 23:59:59,3850.913765,3707.231303,3746.713387,3843.519967,4.324201e+09,6.709863e+10
2074,2075,Bitcoin,BTC,2019-01-02 23:59:59,3947.981273,3817.409496,3849.216409,3943.409337,5.244857e+09,6.884986e+10
2075,2076,Bitcoin,BTC,2019-01-03 23:59:59,3935.685131,3826.222871,3931.048638,3836.741319,4.530215e+09,6.699492e+10
2076,2077,Bitcoin,BTC,2019-01-04 23:59:59,3865.934532,3783.853665,3832.039968,3857.717619,4.847965e+09,6.736833e+10
2077,2078,Bitcoin,BTC,2019-01-05 23:59:59,3904.903096,3836.900126,3851.973965,3845.194460,5.137610e+09,6.715757e+10
2078,2079,Bitcoin,BTC,2019-01-06 23:59:59,4093.297444,3826.513062,3836.519158,4076.632685,5.597027e+09,7.120680e+10
2079,2080,Bitcoin,BTC,2019-01-07 23:59:59,4092.613437,4020.893951,4078.585055,4025.248287,5.228626e+09,7.031631e+10
2080,2081,Bitcoin,BTC,2019-01-08 23:59:59,4109.021065,3996.955256,4028.472072,4030.847999,5.306593e+09,7.042274e+10
2081,2082,Bitcoin,BTC,2019-01-09 23:59:59,4068.403581,4022.662809,4031.552016,4035.296369,5.115905e+09,7.050873e+10
2082,2083,Bitcoin,BTC,2019-01-10 23:59:59,4064.066551,3659.174539,4034.411445,3678.924681,6.874144e+09,6.428893e+10

In [9]:
dogecoin19to20_df = doge_df[(doge_df['Date'] > "2019-01-01") & (doge_df['Date'] <= "2020-12-31")]
dogecoin19to20_df.head(10)

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
1842,1843,Dogecoin,DOGE,2019-01-01 23:59:59,0.002392,0.002322,0.002346,0.002392,1.736474e+07,2.814427e+08
1843,1844,Dogecoin,DOGE,2019-01-02 23:59:59,0.002458,0.002372,0.002388,0.002407,1.801539e+07,2.831718e+08
1844,1845,Dogecoin,DOGE,2019-01-03 23:59:59,0.002414,0.002356,0.002404,0.002360,1.761923e+07,2.776799e+08
1845,1846,Dogecoin,DOGE,2019-01-04 23:59:59,0.002397,0.002274,0.002364,0.002315,1.953010e+07,2.724948e+08
1846,1847,Dogecoin,DOGE,2019-01-05 23:59:59,0.002350,0.002280,0.002320,0.002319,1.714859e+07,2.729966e+08
1847,1848,Dogecoin,DOGE,2019-01-06 23:59:59,0.002371,0.002291,0.002313,0.002328,1.817511e+07,2.740566e+08
1848,1849,Dogecoin,DOGE,2019-01-07 23:59:59,0.002335,0.002275,0.002328,0.002285,1.589900e+07,2.690183e+08
1849,1850,Dogecoin,DOGE,2019-01-08 23:59:59,0.002321,0.002261,0.002298,0.002276,2.099442e+07,2.679776e+08
1850,1851,Dogecoin,DOGE,2019-01-09 23:59:59,0.002307,0.002255,0.002278,0.002266,1.701080e+07,2.668543e+08
1851,1852,Dogecoin,DOGE,2019-01-10 23:59:59,0.002295,0.002085,0.002263,0.002132,2.117411e+07,2.511036e+08

In [10]:
bitcoin19to20_df.to_csv("bitcoin19to20_df", index=False, header=True)

In [11]:
dogecoin19to20_df.to_csv("dogecoin19to20_df", index=False, header=True)